% rebase('base')
<div class="container work">
  <h2>Courses</h2>
  <ul class="work-images">
    <li>
      <div><a class="fancybox-thumb" rel="fancybox-thumb" href="https://www.udemy.com/programacao-orientada-a-objetos-com-python/" title="Image 01" target="_blank"><img src="poo.jpg" alt=""></a></div>
    </li>
    <li>
      <div><a class="fancybox-thumb" rel="fancybox-thumb" href="https://www.udemy.com/expressoes-regulares-com-python/" target="_blank"><img src="regex.jpg" alt=""></a></div>
    </li>
    <li>
      <div><a class="fancybox-thumb" rel="fancybox-thumb" href="https://www.udemy.com/webscraping/" target="_blank"><img src="webscraping.jpg" alt=""></a></div>
    </li>
  </ul>
  <ul class="work-images">
    <li>
      <div><a class="fancybox-thumb" rel="fancybox-thumb" href="https://www.udemy.com/javascript-iniciantes/" target="_blank"><img src="js.jpg" alt=""></a></div>
    </li>
    <li>
      <div><a class="fancybox-thumb" rel="fancybox-thumb" href="https://www.udemy.com/inteligencia-artificial/" target="_blank"><img src="ai.jpg" alt=""></a></div>
    </li>
    <li>
      <div><a class="fancybox-thumb" rel="fancybox-thumb" href="https://www.udemy.com/algoritmos-e-estruturas-de-dados-com-python3/" target="_blank"><img src="python3.jpg" alt=""></a></div>
    </li>
  </ul>
</div>