% rebase('base')
<div class="container work">
  <h2>What I teach?</h2>
  <ul class="work-images">
    <li>
      <div><a class="fancybox-thumb" rel="fancybox-thumb" href="https://www.udemy.com/programacao-orientada-a-objetos-com-python/" title="Image 01"><img src="poo.jpg" alt=""></a></div>
    </li>
    <li>
      <div><a class="fancybox-thumb" rel="fancybox-thumb" href="https://www.udemy.com/expressoes-regulares-com-python/"><img src="regex.jpg" alt=""></a></div>
    </li>
    <li>
      <div><a class="fancybox-thumb" rel="fancybox-thumb" href="https://www.udemy.com/webscraping/"><img src="webscraping.jpg" alt=""></a></div>
    </li>
  </ul>
  <ul class="work-images">
    <li>
      <div><a class="fancybox-thumb" rel="fancybox-thumb" href="https://www.udemy.com/javascript-iniciantes/"><img src="js.jpg" alt=""></a></div>
    </li>
    <li>
      <div><a class="fancybox-thumb" rel="fancybox-thumb" href="https://www.udemy.com/inteligencia-artificial/"><img src="ai.jpg" alt=""></a></div>
    </li>
    <li>
      <div><a class="fancybox-thumb" rel="fancybox-thumb" href="https://www.udemy.com/algoritmos-e-estruturas-de-dados-com-python3/"><img src="python3.jpg" alt=""></a></div>
    </li>
  </ul>
</div>