% rebase('base')
<div class="container skills">
  <h2>Skills</h2>
  <div class="row">
    <div class="span3">
      <div class="ps">
        <h3>Py</h3>
      </div>
    </div>
    <div class="span5">
      <h3>Python <span>90%</span></h3>
      <div class="expand-bg"> <span class="expand ps2"> &nbsp; </span> </div>
    </div>
  </div>
  <div class="row">
    <div class="span3">
      <div class="ai">
        <h3>C++</h3>
      </div>
    </div>
    <div class="span5">
      <h3>C++ <span>85%</span></h3>
      <div class="expand-bg"> <span class="expand ai2"> &nbsp; </span> </div>
    </div>
  </div>
  <div class="row">
    <div class="span3">
      <div class="html">
        <h3>Django</h3>
      </div>
    </div>
    <div class="span5">
      <h3>Django <span>80%</span></h3>
      <div class="expand-bg"> <span class="expand html2"> &nbsp; </span> </div>
    </div>
  </div>
  <div class="row">
    <div class="span3">
      <div class="css">
        <h3>JS</h3>
      </div>
    </div>
    <div class="span5">
      <h3>JavaScript <span>80%</span></h3>
      <div class="expand-bg"> <span class="expand css2"> &nbsp; </span> </div>
    </div>
  </div>
</div>